* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  
  :root {
    --primary-color: #161b22;
    --secondary-color: #0d1117;
    --icon-yellow: #aca32d;
    --light-grey: rgb(158, 169, 194);
  }
  
  body {
    background: var(--secondary-color);
    font-family: Hubot-Sans, sans-serif;
    font-weight: normal;
    color: #fff;
  }
  /* ==================== Navbar ====================== */
  nav {
    background: var(--primary-color);
    padding: 15px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  nav ul li {
    display: inline;
    margin: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  
  nav form {
    width: 30%;
  }
  
  nav form input {
    background: var(--secondary-color);
    padding: 7px;
    border: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #4a515d;
    color: #fff;
  }
  
  nav form input::placeholder {
    color: #fff;
  }
  
  header {
    border-bottom: 0.6px solid #242424;
  }
  
  .active {
    border-bottom: 2px solid rgb(255, 102, 0);
    padding-bottom: 20px;
    transition: padding-right 0.3s ease, padding-left 0.3s ease;
  }
  
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    list-style: none;
    margin: 20px;
  }
  
  .btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    margin-left: 20px;
  }
  
  .btns-container a {
    color: #fff;
  }
  
  .btns-container button {
    background: transparent;
    border: none;
    margin-left: 20px;
    border: 1px solid #585d63;
    padding: 6px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* =====================   Header  ==================    */
  .about-user {
    width: 100%;
    max-width: 300px;
    margin: 30px auto;
    color: #fff;
    padding: 2rem;
  }
  
  .about-user .user-avatar {
    background-image: url("./assets/img/ravi_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
  }
  
  .user-name {
    color: #585d63;
    font-size: 25px;
    margin: 10px 0;
    font-weight: normal;
  }
  
  .followers-info {
    margin: 15px 0;
  }
  
  .followers-info a {
    text-decoration: none;
    color: #fff;
  }
  
  .followers-info span {
    color: #545c66;
  }
  
  /* =================== Main section ====================== */
  main {
    color: #fff;
    margin-top: 20px;
    margin-left: 1rem;
    flex: 1;
  }
  
  main p {
    margin-bottom: 20px;
  }
  
  /* ===================== About ========================= */
  
  .card {
    border: 1px solid #4a515d;
    border-radius: 5px;
    width: 90%;
    padding: 30px;
    margin: 10px;
    position: relative;
    padding-top: 1.3rem;
    text-decoration: none;
  }
  
  .profile-info {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .profile-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .profile-info ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .item {
    background-color: var(--icon-yellow);
    color: #fff;
    line-height: 35px;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  /* =============== Experience ====================== */
  
  .timeline {
    position: relative;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    top: 30px;
    height: calc(100% - 100px);
    background-color: var(--icon-yellow);
    z-index: 100;
  }
  
  .timeline-date {
    position: relative;
  }
  
  .timeline-date::before {
    content: "";
    position: absolute;
    background-color: var(--icon-yellow);
    left: -25px;
    top: 20px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .timeline-items {
    margin-left: 20px;
  }
  
  .timeline-item {
    margin: 50px 0;
  }
  
  /* ========= projects =========== */
  
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project-tile {
    position: relative;
    flex: 1 1 calc(50% - 20px);
    height: 300px; /* Fixed height for uniformity */
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background: var(--light-grey);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  }
  
  .project-tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: contrast(70%) brightness(110%) grayscale(20%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.8s ease;
  }
  
  .project-description {
    padding: 20px;
  }
  
  .project-tile:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
  .project-tile:hover img {
    transform: scale(1.1); 
    transition: 0.4s ease;
  }
  
  @media (max-width: 768px) {
    .project-tile {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .main-container {
      flex-direction: column;
    }
  }
  
  /* ========= see more ============ */
  .see-more-container {
    text-align: center;
    margin-top: 20px;
  }
  .see-more-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .see-more-link:hover {
    background-color: #0a0a0a;
    color: #fff;
  }
  /*  ================ STYLING ICONS ================ */
  .icon-container {
    margin: 5px 0;
  }
  
  i {
    color: #4a515d;
    margin-right: 5px;
  }
  
  .fa-github {
    font-size: 2rem;
    color: #fff;
    margin-right: 1rem;
  }
  /* ============ Contact ================= */
  
  
  form {
    width: 100%;
    max-width: 600px;
  }
  
  .input-box {
    display: flex;
    align-items: center;
  }
  
  .input-box input,
  textarea {
    min-width: 100%;
    margin: 1rem;
    color: white;
    font-size: 1rem;
    padding-left: 0.3rem;
    background-color: #000000;
  }
  
  .input-box input::placeholder,
  textarea::placeholder {
    color: #7a7777;
    font-size: 1rem;
    padding-left: 0.3rem;
  }
  
  .input-box textarea::placeholder {
    padding-top: 0.3rem;
  }
  
  .input-box input:focus,
  textarea:focus {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .text-input {
    height: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #7e8938;
  }
  
  textarea {
    min-height: 4rem;
    border: none;
    border-bottom: solid 2px #7e8938;
  }
  
  .submit-btn {
    color: var(--accent-color);
    background-color: var(--light-yellow);
    padding: 10px 20px;
    margin: 50px 0;
    border-radius: 30px;
    border: none;
    transition: 0.2s linear;
    transition-property: background-color, color;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }
  
  .submit-btn:hover {
    color: #fff;
    background-color: var(--icon-yellow);
    transition: 0.2s linear;
    transition-property: background-color, color;
    cursor: pointer;
  }